<!DOCTYPE html>
<html lang="{{ context.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ context.meta_description }}">
    <link rel="stylesheet" href="{{ context.root }}/static/css/theme.css">
    <link rel="icon" type="image/png" href="{{ context.favicon_path }}">
    <title>{{ context.title }}</title>
    {{ context.modules.head_extras }}
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <nav>
          {{ context.modules.navbar }}
        </nav>
      </div>
      <div class="content">
        <main>
          {{ context.content }}
        </main>
      </div>
    </div>
    <footer>
      {{ context.modules.footer }}
    </footer>
  </body>
</html>
