<!DOCTYPE html>
<html lang="{{ context.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ context.root }}/static/css/theme.css">
    <link rel="icon" type="image/png" href="{{ context.favicon_path }}">
    <title>{{ context.title }}</title>
    {{ context.meta_tags }}
    {{ context.modules.head_extras }}
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <nav>
          {{ context.modules.navbar }}
        </nav>
      </div>
      <div class="content">
        <main>
          {% for tag in context.category_tags %}
          <div class="categoryTag">
            {{ tag }}
          </div>
          {% endfor %}
          {{ context.content }}
        </main>
      </div>
      <footer>
        {{ context.modules.footer }}
      </footer>
    </div>
  </body>
</html>
